<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e9e7da95-052d-4f4f-ae51-8f71205623d0/resourceGroups/DBate/providers/Microsoft.Web/sites/DBate</ResourceId>
    <ResourceGroup>DBate</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dbate.azurewebsites.net/backend</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dbate.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DBate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DBate</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBateConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=LAPTOP-FK39KS1J;Initial Catalog=DBateConnectionDB;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KFC.Red.DBate.WebAPI.Data.ApplicationDbContext, KFC.Red.DBate.WebAPI" MigrationConfiguration="KFC.Red.DBate.WebAPI.Migrations.Configuration, KFC.Red.DBate.WebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBateConnection-Web.config Connection String">
      <ParameterValue>Data Source=LAPTOP-FK39KS1J;Initial Catalog=DBateConnectionDB;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>