<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="myvar" value="myvalue"/>

	<extensions>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<targets>
		<target xsi:type="Mongo"
				name="mongoError"
				includeDefaults="false"
				connectionString="mongodb+srv://RedAdmin:admin123@teamredlogs-r6fsx.azure.mongodb.net/test?retryWrites=true"
				collectionName="CustomLog"
				databaseName="LoggingDbate"
				cappedCollectionSize="26214400">
			<field name="Date" layout="${date}" bsonType="DateTime" />
			<field name="Message" layout="${message}" />
			<field name="Line of Code" layout="${callsite-linenumber}" />
			<field name="Target Site" layout="${callsite}" />
			<field name="Logged in User" layout="${aspnet-user-isauthenticated}" />
			<field name="User Request" layout="${aspnet-request}" />
			<field name="ProcessID" layout="${processid}" bsonType="Int32" />
			<field name="ProcessName" layout="${processname:fullName=true}" />
			<field name="User Id" layout="${aspnet-user-identity}" />
			<field name="UserName" layout="${windows-identity}" />
		</target>

		<target xsi:type="Mongo"
				name="mongoInfo"
				includeDefaults="false"
				connectionString="mongodb+srv://RedAdmin:admin123@teamredlogs-r6fsx.azure.mongodb.net/test?retryWrites=true"
				collectionName="CustomLog"
				databaseName="LoggingDbate"
				cappedCollectionSize="26214400">
			<field name="Date" layout="${date}" bsonType="DateTime" />
			<field name="Level" layout="${level}"/>
			<field name="Message" layout="${message}" />
			<field name="User Action" layout="${activityid}" />
			<field name="Logged in User" layout="${aspnet-user-isauthenticated}" />
			<field name="User IP Address" layout="${aspnet-request-ip}"/>
			<field name="User Id" layout="${aspnet-user-identity}" />
			<field name="UserName" layout="${windows-identity}" />
		</target>

		<target xsi:type="Mongo"
				name="mongoWarn"
				includeDefaults="false"
				connectionString="mongodb+srv://RedAdmin:admin123@teamredlogs-r6fsx.azure.mongodb.net/test?retryWrites=true"
				collectionName="CustomLog"
				databaseName="LoggingDbate"
				cappedCollectionSize="26214400">
			<field name="Date" layout="${date}" bsonType="DateTime" />
			<field name="Level" layout="${level}"/>
			<field name="Message" layout="${message}" />
			<field name="Logger" layout="${logger}"/>
		</target>

		<target xsi:type="Mail"
				subject="Dbate Logs"
				to="deivisleung720@gmail.com"
				from="teamreddbate@outlook.com"
				smtpUserName="teamreddbate@outlook.com"
				smtpPassword="TEAMred444!"
				smtpAuthentication="Basic"
				smtpServer="smtp.outlook.com"
				smtpPort="25"
				enableSsl ="true"
				deliveryMethod="Network"
				/>

	</targets>
	
	<rules>
		<logger name="*" level="Error" writeTo="mongoError" />
		<logger name="*" level="Info" writeTo="mongoInfo" />
		<logger name="*" level="Warn" writeTo="mongoWarn" />
		<logger name="*" level="Warn" writeTo="mongoMessage" />
	</rules>
	
</nlog>